﻿@{
    ViewData["Title"] = "ForgotPassword";
}

<div class="row">
    <div class="col-6 offset-3 offset-3">
        <h3>ForgotPassword</h3>
        <form asp-controller="Account" asp-action="ForgotPassword" method="post">
            <div class="form-group">
                <label>Emailiniz:</label>
                <input type="text" class="form-control" name="Email" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Şifre Yenileme Talebi Gönder</button>
            </div>
        </form>
    </div>
</div>